body {
    font-family: Fira Code, Fira Code;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin-top: 50px;
}

#search-input {
    padding: 10px;
    border: 1px solid #000;
    background-color: #000;
    border-radius: 0px;
    width: 300px;
    box-sizing: border-box;
}

#search-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 0px;
    background-color: #000;
    color: white;
    cursor: pointer;
}

#search-button:hover {
    background-color: #000;
}
