body {
    font-family: 'Fira Code', monospace;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    margin-top: 50px;
}

#search-input {
    padding: 10px;
    border: 1px solid #fff; /* White border for contrast */
    background-color: #000;
    color: #fff;
    border-radius: 0;
    width: 300px;
    box-sizing: border-box;
}

#search-button {
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid #fff; /* White border for consistency */
    background-color: #000;
    color: #fff;
    border-radius: 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: #333; /* Slightly lighter black for hover effect */
}
