body {
    font-family: CozetteVector, CozetteVector;
    margin: 0;
    padding: 0;
    background-color: #252422;
    color: #333;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

header {
    background: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin: 20px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em;
    color: #777;
}
