/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cartograph CF', Cartograph CF; /* Updated font */
    background-color: #F0EDEC; /* Light mode background */
    color: #685c56; /* Light mode text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #FFFFFF; /* Light container background */
    padding: 20px;
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

header {
    margin-bottom: 20px;
}

.ascii-art {
    font-family: 'Cartograph CF'; /* Updated font */
    white-space: pre;
    margin-bottom: 20px;
    color: #685c56; /* Light mode ASCII art color */
    text-align: center; /* Center align the ASCII art */
}

h1 {
    font-size: 2em;
    color: #685c56; /* Light mode heading color */
}

.links {
    margin-bottom: 20px;
}

.link {
    display: block;
    color: #286486; /* Link color */
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
}

.link:hover {
    text-decoration: underline;
    color: #3B8992; /* Hover color */
}

footer {
    margin-top: 20px;
    font-size: 0.9em;
    color: #685c56; /* Light mode footer color */
}

